/* Базовые стили */
.about {
  padding: 20px;
  max-width: 800px; /* Ограничение максимальной ширины */
  margin: 0 auto; /* Центрирование блока */
}

.map-container {
  margin-bottom: 20px;
}

.reviews-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
}

.review-item {
  width: 100%; /* Занимать всю доступную ширину */
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

/* Исправление класса sert */
.sert {
  width: auto; /* Ширина автоматически подстраивается */
  height: 50%; /* Высота 50% от родительского элемента */
  /* Добавьте другие необходимые стили */
}

/* Медиазапросы */

/* Для устройств с шириной экрана до 768px (телефоны и планшеты в вертикальной ориентации) */
@media (max-width: 768px) {
  .about {
    padding: 10px; /* Уменьшаем внутренние отступы */
  }

  .reviews-list {
    flex-direction: column; /* Отображаем отзывы в столбец */
  }

  .review-item {
    width: 100%; /* Занимать всю доступную ширину */
  }
}

/* Для устройств с шириной экрана до 576px (смартфоны и планшеты в вертикальной ориентации) */
@media (max-width: 576px) {
  .sert {
    width: 100%; /* Логотипы будут занимать всю ширину на узких экранах */
    height: auto; /* Высота будет автоматически подстраиваться */
  }
}
